@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

.custom-box:hover .custom-box-bg {
  transform: translate(-50%, -50%) scale(1.1);
}
